h1{
font-family:Arial;
text-align:center;
font-size:36px;
color:black;
}

p{
font-family:Arial;
text-align:center;
font-size:18px;
color:blue;
}

li{
font-family:Arial;
text-align:center;
font-size:18 px;
color: black;
}