h{
text-align:center;
font-size:24px;
color:purple;
}

p{
font-family:Arial;
text-align:center;
font-size:18px;
color:blue;
}


#header {
    text-align: center;
}

.links {
    text-align: center;
    color: purple;
}

.img {
    width:  232.2;
    height: 320;
    text-align: center;
    display: inline-block;
}

.bulletpoints {
    font-size: 18 px;
}