body {


#header {
    text-align: center;
}

.links {
    text-align: center;
    color: purple;
}

.img {
    width:  232.2;
    height: 320;
    text-align: center;
    display: inline-block;
}

.bulletpoints {
    font-size: 18 px;
}